.admin {
  --color-background: #161b22;
  --color-primary: #0d1117;
  --color-secondary: #66b;
  --color-secondary-muted: #ddf;
  --color-background-hover: #3e4c9a;
  --color-text: #eef;
  --color-text-muted: #aab;
  --color-text-error: #f00;
  --color-interactive: #0070f3;

  min-height: 100dvh;
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "system-ui",
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

:global(body) {
  margin: 0;
}
