.upload-container {
  max-width: 640px;
  min-width: 480px;
  min-height: 280px;
  margin: 0 auto;
  padding: 32px;
  color: var(--color-text);
  background-color: var(--color-primary);
  border-radius: 16px;
  border: 2px solid var(--color-secondary);
}

.upload-header {
  margin-top: 0px;
  font-weight: 500;
}

.upload-results {
  margin-top: 32px;
}

.upload-results--list {
  list-style: none;
  padding: 0;
}

.upload-results--list-item {
  margin-bottom: 8px;
}

.upload-results--date {
  font-size: 12px;
  color: var(--color-text-muted);
}
